.contract-section-heading {
  margin-left: -32px;
  margin-top: 16px;
}

.contract-form-section {
  padding-top: 25px;
  padding-left: 20%;
  padding-right: 20%;
}

@media screen and (max-width: 767px) {
  .contract-form-section {
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
