.site-footer {
    text-align: center;
    height: $site-footer-height;
    padding: 5px 0;
    background: $site-footer-background-color;
    color: $site-footer-text-color;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  
    a {
      color: white;
    }
  }