.site-header {
  padding-top: $site-header-padding-top;
  padding-bottom: $site-header-padding-bottom;
  min-height: $site-header-min-height;
  background-color: $site-header-background-color !important;
}

.site-header * {
  color: $site-header-text-color !important;
}

@media screen and (max-width: 500px) {
  .site-header > a > span {
    font-size: 5vw;
  }
}

.site-header-company {
  margin-left: 20px;
  vertical-align: middle;
  font-size: 36px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .site-header-company {
    font-size: 20px;
  }
}
