.layout-container-main {
    padding: 20px;
}

.page-title {
    text-align: center;
    padding: 10px;
    color: $page-title-text-color;
    background: $page-title-background-color;
}

@media print {
    .no-print {
        display:none;
    }
}
@media screen {
    .only-print {
        display: none;
    }
}