.layout-container-main {
    padding: 20px;
}

.page-title {
    text-align: center;
    padding: 10px;
    color: $page-title-background-color;
    background: $site-accent-color;
    border-bottom: 2px solid $page-title-background-color;
}