.logo-letters {
  br {
    display: none;
  }

  margin-top: 10%;
}

.logo {
  max-height: 80vh;
}

.letter {
  fill: white;
  height: 5vw;
  margin: auto 1.5vw;
}

@media screen and (max-width: 1200px) {
  .logo-letters br {
    display: none;
  }

  .letter {
    height: 4vw;
    width: 9vw;
    margin: 10px 0;
  }
}

.letter-c {
  fill: #006680;
}

.letter-o-1 {
  fill: #006680;
  animation: spring-spiral-animation 8s ease infinite;
}

.letter-d {
  fill: #006680;
}

.letter-e {
  animation: blue-fade-animation 8s ease infinite;
}

.letter-o-2 {
  animation: spring-spiral-animation 8s ease infinite;
  animation-delay: 4s;
}

@keyframes blue-fade-animation {
  0% {
    fill: #006680;
  }
  40% {
    fill: #006680;
  }
  50% {
    fill: #ffffff;
  }
  90% {
    fill: #ffffff;
  }
  100% {
    fill: #006680;
  }
}

@keyframes spring-spiral-animation {
  0% {
    transform: rotateZ(0deg);
  }
  5% {
    transform: rotateZ(0deg);
  }
  30% {
    transform: rotateZ(720deg);
  }
  40% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
