h1 {
    color: white;
    font-size: 50px;
}

#proficiencies-wrapper {
    background: #006680;

    h1 {
        padding: 50px 0 50px 0;
    }
}

#proficiency-icons-wrapper {
    margin-left: 20px;
    margin-right: 20px;
}

.icon-span {
    padding: 20px;
    line-height: 100px;
}

.proficiency-icon {
    height: 75px;

    &:not(:hover) {
        fill: #ffffff;
        transition: fill 1.0s !important;
    }

    &:hover {
        transform: scale(1.25);
    }

    transition: transform 1.0s !important;
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 25px;
    }

    .proficiency-icon {
        height: 50px;
    }
}