h1 {
    color: white;
    font-size: 50px;
}

#proficiencies-wrapper {
    background: #006680;

    padding: 50px 0 50px 0;

    h1 {
        padding-bottom: 30px;
    }
}

#proficiency-icons-wrapper {
    margin-left: 20px;
    margin-right: 20px;
}

.icon-span {
    padding: 0px;
    line-height: 50px;
    text-align: center;

    &:after {
        content: attr(data-tooltip);
        display: inline-block;
        position: relative;
        left: -125px;
        width: 125px;
        margin-right: -125px;
        bottom: -50px;
        white-space: nowrap;
        color: white;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &:not(:hover) {
        &:after {
            opacity: 0;
        }
    }

    &:hover {
        &:after {
            transition: opacity 2.0s;
            transition-delay: 1.0s;
        }
    }
}

.proficiency-icon {
    height: 75px;
    padding: 25px;
    border-radius: 20px;

    &:not(:hover) {
        fill: #ffffff;
        transition: fill 1.0s !important;
        background: none !important;
        box-shadow: none !important;
    }

    &:hover {
        transform: scale(1.1);
    }

    transition: transform 1.0s, background 2.0s, box-shadow 2.0s;
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 20px;
    }

    .proficiency-icon {
        height: 50px;
    }

    #proficiency-icons-wrapper {
        margin-left: 5px;
        margin-right: 5px;
    }

    .icon-span {
        &:after {
            left: -100px;
            width: 100px;
            margin-right: -100px;
            bottom: -50px;
            font-size: 14px;
        }
    }
}