.stranger-things-wall {
    background-color: #555;
    height: 100vh;

    svg {
        height: 100%;
        width: 100%;
    }

    .light-bulb-svg {
        transform: scale(2.0);
    }
    
    @media screen and (max-width: 767px) {
        .light-bulb-svg {
            transform: scale(3.0);
        }
    }
}