.testimonials-wrapper {
    position: relative;
}

.carousel-inner {
    min-height: 90vh;
    display: flex;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
    
    .carousel-item {
        color: white;

        h1 {
            font-size: 70px;
        }

        h2 {
            padding-top: 50px;
            float: right;
        }
    }
}

@media screen and (max-width: 767px) {
    .carousel-inner {
        .carousel-item {
            h1 {
                font-size: 32px;
            }

            h2 {
                font-size: 24px;
                float: none;
            }
        }
    }
}
